.icon-32-rsseo {
	background-image: url(../images/rsseo_logo_32.png);
}

.icon-48-rsseo {
	background-image: url(../images/rsseo_logo_48.png);
}

.icon-32-compete {
	background-image:url(../images/compete.png);
}

.icon-32-simple {
	background-image:url(../images/simple.png);
}

.icon-32-standard {
	background-image:url(../images/standard.png);
}

.icon-history {
	background-image: url("../images/history.png");
    display: inline-block;
    height: 16px;
    width: 16px;
}

.element-invisible {
	display: none;
}

.pull-right {
	float: right;
	margin-left: 5px;
}

.pull-left {
	float: left;
}

#filter-bar {
	display: block;
	float:left;
	width: 100%;
}

.rsb_btns {
	display: inline-block;
	float: left;
	margin-left: 5px;
}

.icon-search {
	background: url("../images/find.png") no-repeat scroll 0 0 transparent;
	display: block;
    height: 12px;
    width: 12px;
}

.icon-remove {
	background: url("../images/remove.png") no-repeat scroll 0 0 transparent;
	display: block;
    height: 12px;
    width: 12px;
}

.badge {
	font-size: 10.998px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #999;
	padding: 1px 9px 2px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

.badge-important {
	background-color: #b94a48;
}

.badge-success {
	background-color: #468847;
}

.badge-info {
	background-color: #3A87AD;
}

.row-fluid .span5 {
	width: 50%;
	float: left;
}

.row-fluid .span7 {
	width: 50%;
	float: left;
}

.rsj-box .table th, .rsj-box .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 18px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}


.rsj-box table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.rsj-box .table {
	width: 100%;
	margin-bottom: 18px;
}

.rsj-box .table th {
	font-weight: bold;
}

.rsj-box .table thead th {
	vertical-align: bottom;
}

.rsj-box .table thead:first-child tr:first-child th,
.rsj-box .table thead:first-child tr:first-child td {
	border-top: 0;
}

.rsj-box .table tbody + tbody {
	border-top: 2px solid #ddd;
}

.rsj-box .table-striped tbody tr:nth-child(odd) td,
.rsj-box .table-striped tbody tr:nth-child(odd) th {
	background-color: #f9f9f9;
}

.sitemapbutton {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: 4px;
    padding: 5px;
    text-decoration: none !important;
}

.rsnofloat {
	float: none !important;
}

#rsroot {
	float: left;
    margin-right: 5px;
    margin-top: 6px;
}

.ga_no_account {
	width: 99% !important;
}

#rsstart_img, #rsend_img {
	vertical-align: middle;
}

.btn-toolbar {
	margin-bottom: 5px;
}

#rss_results {
	margin-left: 140px;
	margin-top: -5px;
}

.rsseo_editor {
	float: left;
	width: 80%;
}

.dashboard-container .span4 {
    float: left !important;
    width: 33% !important;
}

#rsseo-general-statistics .span6 {
	float: left !important;
    width: 49% !important;
}

#rsseo-general-statistics .span6:nth-child(2) {
    margin-left: 2%;
}

.chart_visitors_container, .chart_pageviews_container {
    float: left;
    width: 50%;
}

.chart_visitors_container .text-center, .chart_pageviews_container .text-center {
    text-align: center;
}

.icon-user {
    background-image: url("../images/user.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.icon-eye {
    background-image: url("../images/view.png");
    background-position: center center;
    background-repeat: no-repeat;
}

@-webkit-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}
@-moz-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}
@-ms-keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}
@-o-keyframes progress-bar-stripes {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 40px 0;
	}
}
@keyframes progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}

.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert {
	color: #c09853;
}

.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.btn {
	display: inline-block;
	*display: inline;
	padding: 4px 12px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
	color: #333333;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
}

.btn:active,
.btn.active {
	background-color: #cccccc \9;
}

.btn:first-child {
	*margin-left: 0;
}

.btn:hover,
.btn:focus {
	color: #333333;
	text-decoration: none;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn.active,
.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}